/**
 * @section Typography
 * Sets font styles for entire site
 */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-white);
    color: var(--color-black);
    font-family: var(--font-primary);
    font-size: var(--font-size);
    line-height: 1.5;

    @media (min-width: 40em) {
        line-height: 1.5625;
    }
}

p {
    margin: 0 0 var(--spacing);
}

/**
 * Hyperlink styling
 */

a {
    color: var(--color-primary);
    text-decoration-skip-ink: auto;
    word-wrap: break-word;

    &:active,
    &:focus,
    &:hover {
        color: var(--color-primary-dark);
    }
}

/**
 * List styling
 */

ul,
ol {
    margin: 0 0 var(--spacing) 2em;
    padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}

dl,
dd {
    margin: 0;
    padding: 0;
}

dd {
    margin-bottom: var(--spacing);
}

dt {
    font-weight: bold;
}

/**
 * Heading styling for h1 through h6 elements.
 * Heading class lets you use one heading type for semantics, but style it as another heading type.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 0 0 1em;
    padding: 1em 0 0;
    word-wrap: break-word;
}

h1,
.h1 {
    font-size: 1.5em;
    padding-top: 0.5em;

    @media (min-width: 40em) {
        font-size: 1.75em;
    }
}

h2,
.h2 {
    font-size: 1.3125em;
}

h3,
.h3 {
    font-size: 1.1875em;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-size: 1em;
}

h4,
.h4 {
    font-size: 0.8125em;
    text-transform: uppercase;
}

/**
 * Lines, Quotes and Emphasis
 */

/**
 * Lines
 */
hr {
    border: 0;
    border-top: 1px solid var(--color-gray-light);
    margin: 2em auto;
}
