body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.cruz {
    width: 100%;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: black;
        height: 2px;
        top: -1px;
    }

    &::before {
        transform: rotate(90deg);
        width: 100vh;
        left: calc(calc(100% - 100vh) / 2);
    }

    &::after {
        right: 0;
        left: 0;
    }
}
